.command {
    width: 150px;
    border: solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    font-family: Arial;
}

div.command div.logo {
    background-size: 2em;
    width: 2em;
    height: 2em;
    border: none;
    margin-top: 2px;
    margin-left: 2px;
}

div.command div.result {
    margin-bottom: 3px;
    height: 1em;
}

div.command div.result.created {
    background-color: rgb(27, 102, 233);
}

div.command div.result.executing {
    background-color: orange;
}

div.command div.result.success {
    background-color: green;
}

div.command div.result.error {
    background-color: rgb(192, 60, 60);
}

div.kafka div.logo {
    background-image: url('icons/kafka.png');
}

div.hive div.logo {
    background-image: url('icons/hive.png');
}

div.schema-registry div.logo {
    background-image: url('icons/schema-registry.png');
}

div.spark div.logo {
    background-image: url('icons/spark.png');
}

div.connecter div.logo {
    background-image: url('icons/connecter.png');
}